@use "/src/theme/colors" as *;
@use "/src/theme/variables" as *;
@use "/src/theme/mixins" as *;
@use "/src/theme/breakpoints" as *;

.header {
  display: flex;
  padding-inline: 1em;
  padding-block: 2.8em;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;
  background-color: $element-background;

  @include media-query($desktop) {
    padding-inline: 5.9em;
    padding-block: 2em;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__heading {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 800;

    @include media-query($desktop) {
      font-size: 1.5rem;
    }
  }

  &__btn {
    display: flex;
    border: none;
    background: none;
    font-size: 1.3rem;
    font-weight: 600;
    align-items: center;
    gap: 0.5em;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
